<nav>
  <a routerLink="/home">Home</a>&nbsp;
  <a routerLink="/sample">Sample</a>&nbsp;
  <a routerLink="/dynamic-form">dynamic-form</a>&nbsp;
  <a routerLink="/users">Users</a>
</nav>
<br>
<div *ngIf="showPage; else elseBlock">
  <app-home></app-home>
  <h1>Hello, learn</h1>
  <h3>{{title}}</h3>
  <h3>{{sanitizeValue}}</h3>
  <h4 *ngIf="showCount; else elseBlock">{{totalCount}}</h4>
  <ng-template #elseBlock><h4>to render when condition is false.</h4></ng-template>
  <input type="text" [(ngModel)]="title">
  <button (click)="onChangeTitle()">change title</button>
  <button (click)="showCounter()">hide count</button>
  <app-data-list [data]="data" (calCount)="calCount($event)"></app-data-list>
  <app-sample></app-sample>
</div>
<ng-template #elseBlock>
  <router-outlet></router-outlet>
</ng-template>
